<%= header("../", project_name) %>
<div class="row center-block not-full-width">
  <div class="col-md-12">
    <%= project_intro %>
    <p>We show the original source code on the left and the imported Coq code on the right. The imported code does not compile. This is due to either various incompleteness in our tool, or to side-effects in the source code. Write at <code>web [at] clarus [dot] me</code> for more information. Work currently made at <a href="https://www.nomadic-labs.com/">Nomadic Labs</a>.</p>
    <ul>
      <li>OCaml size: <%= nb_ocaml_lines %> lines</li>
      <li>Coq size: <%= nb_coq_lines %> lines (<%= "+" if nb_coq_lines >= nb_ocaml_lines %><%= "#{100 * nb_coq_lines / nb_ocaml_lines - 100}%" %> compared to&nbsp;OCaml)</li>
      <li>errors: <%= nb_errors %></li>
    </ul>
  </div>
</div>
<% if conversions.size >= 2 then %>
<hr />
<div class="row">
  <% column_size = conversions.size / 3 %>
  <% column_size += 1 if conversions.size % 3 != 0 %>
  <% 3.times do |i| %>
  <div class="col-md-4">
    <ul>
      <% for conversion in conversions[i * column_size..(i + 1) * column_size - 1] do %>
      <li>
        <a href="#<%= u(conversion[:ocaml_name]) %>"><%= h(conversion[:ocaml_name]) %></a>&nbsp;<%= conversion[:nb_errors] == 0 ? "<span class=\"label label-success\">✓</span>" : "<span class=\"label label-danger\">#{conversion[:nb_errors]}</span>" %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>
<% end %>
<% for conversion in conversions do %>
<hr />
<div class="row conversion-row" id="<%= u(conversion[:ocaml_name]) %>">
  <div class="col-md-6">
    <a href="#<%= u(conversion[:ocaml_name]) %>"><code><%= h(conversion[:ocaml_name]) %></code></a>&nbsp;<span class="label label-<%= conversion[:nb_errors] == 0 ? "success" : "danger" %>"><%= conversion[:nb_errors] == 0 ? "success" : "#{conversion[:nb_errors]} error#{conversion[:nb_errors] != 1 ? "s" : ""}" %></span>
    <% if conversion[:global_errors].size != 0 then %>
      <div class="alert alert-danger global-errors" role="alert">
        <ul>
          <% for global_error in conversion[:global_errors] do %>
            <li><%= h(global_error) %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <pre><%= conversion[:ocaml_content] %></pre>
  </div>
  <div class="col-md-6">
    <a href="#<%= u(conversion[:ocaml_name]) %>"><code><%= h(conversion[:coq_name]) %></code></a>
    <pre><%= h(conversion[:coq_content]) %></pre>
  </div>
</div>
<% end %>
<%= footer("../") %>
