<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coq of OCaml</title>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container" style="width: 100%;">
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="https://github.com/clarus/coq-of-ocaml">🐫 🐓 Coq of OCaml</a>
          </div>
        </div>
      </div>
      <div class="article">
        <div class="row">
          <div class="col-md-6">
            <h2>Kernel of Coq</h2>
            <p>This is a demo of the current development version of <a href="https://github.com/clarus/coq-of-ocaml">coq-of-ocaml</a> on the <a href="https://github.com/coq/coq/tree/master/kernel">kernel</a> of <a =href="https://coq.inria.fr/">Coq</a>. Coq is written in <a =href="https://ocaml.org/">OCaml</a>. We show the original source code on the left and the imported Coq code on the right. The imported code probably does not compile. This is due to either various incompleteness in our tool, or to side-effects in the source code. Write at <code>web [at] clarus [dot] me</code> for more information. Work currently made at <a href="https://www.nomadic-labs.com/"">Nomadic Labs</a>.</p>
          </div>
        </div>
        <div class="row">
          <% 6.times do |i| %>
          <div class="col-md-2">
            <ul>
              <% for ocaml_name, _, _, _ in conversions[i * (conversions.size / 5)..(i + 1) * (conversions.size / 5) - 1] do %>
              <li><a href="#<%= h(File.basename(ocaml_name, ".ml")) %>"><%= h(ocaml_name) %></a></li>
              <% end %>
            </ul>
          </div>
          <% end %>
        </div>
        <% for ocaml_name, ocaml_content, coq_name, coq_content in conversions do %>
        <hr />
        <div class="row" id="<%= h(File.basename(ocaml_name, ".ml")) %>" style="padding-bottom: 20px; padding-top: 20px;">
          <div class="col-md-6">
            <code><%= h(ocaml_name) %></code>
            <pre><%= h(ocaml_content) %></pre>
          </div>
          <div class="col-md-6">
            <code><%= h(coq_name) %></code>
            <pre><%= h(coq_content) %></pre>
          </div>
        </div>
        <% end %>
      </div>
      <hr/>
      <div class="footer">
        <p class="text-center">
          <small>Sources are on <a href="https://github.com/clarus/coq-of-ocaml">GitHub</a>. © Guillaume Claret.</small>
        </p>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="bootstrap.min.js"></script>
  </body>
</html>
