<%= header("../", :kernel) %>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h2>Kernel of Coq</h2>
    <p>This is a demo of the current development version of <a href="https://github.com/clarus/coq-of-ocaml">coq-of-ocaml</a> on the <a href="https://github.com/coq/coq/tree/master/kernel">kernel</a> of <a =href="https://coq.inria.fr/">Coq</a>. Coq is written in <a =href="https://ocaml.org/">OCaml</a>. We show the original source code on the left and the imported Coq code on the right. The imported code probably does not compile. This is due to either various incompleteness in our tool, or to side-effects in the source code. Write at <code>web [at] clarus [dot] me</code> for more information. Work currently made at <a href="https://www.nomadic-labs.com/">Nomadic Labs</a>.</p>
  </div>
  <div class="col-md-4"></div>
</div>

<h3>Source files</h3>
<div class="row">
  <% 6.times do |i| %>
  <div class="col-md-2">
    <ul>
      <% for ocaml_name, nb_errors, _, _, _ in kernel_conversions[i * (kernel_conversions.size / 5)..(i + 1) * (kernel_conversions.size / 5) - 1] do %>
      <li><a href="#<%= h(File.basename(ocaml_name, ".ml")) %>"><%= h(ocaml_name) %></a>&nbsp;<%= nb_errors == 0 ? "<span class=\"label label-success\">✓</span>" : "<span class=\"label label-danger\">#{nb_errors}</span>" %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>

<h3>Output</h3>
<% first_row = true %>
<% for ocaml_name, nb_errors, ocaml_content, coq_name, coq_content in kernel_conversions do %>
<%= !first_row ? "<hr />" : "" %>
<div class="row" id="<%= h(File.basename(ocaml_name, ".ml")) %>" style="padding-bottom: 20px; <%= !first_row ? "padding-top: 20px;" : "" %>">
  <div class="col-md-6">
    <code><%= h(ocaml_name) %></code>&nbsp;<span class="label label-<%= nb_errors == 0 ? "success" : "danger" %>"><%= nb_errors == 0 ? "success" : "#{nb_errors} error#{nb_errors != 1 ? "s" : ""}" %></span>
    <pre><%= ocaml_content %></pre>
  </div>
  <div class="col-md-6">
    <code><%= h(coq_name) %></code>
    <pre><%= h(coq_content) %></pre>
  </div>
</div>
<% first_row = false %>
<% end %>
<%= footer("../") %>
