<%= header("../", :tezos) %>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h2>Tezos</h2>
    <p>These are the sources <a href="https://tezos.com/">Tezos</a> imported to <a href="https://coq.inria.fr/">Coq</a> by the current development version of <a href="https://github.com/clarus/coq-of-ocaml">coq-of-ocaml</a>. Tezos is a crypto-currency with smart-contracts and an upgradable protocol. The market cap of Tezos is more than US $500 millions at the time of writting. Write at <code>web [at] clarus [dot] me</code> for more information. Work currently made at <a href="https://www.nomadic-labs.com/">Nomadic Labs</a>.</p>
  </div>
  <div class="col-md-4"></div>
</div>
<hr />
<div class="row">
  <% 4.times do |i| %>
  <div class="col-md-3">
    <ul>
      <% for ocaml_name, nb_errors, _, _, _, _ in tezos_conversions[i * (tezos_conversions.size / 3)..(i + 1) * (tezos_conversions.size / 3) - 1] do %>
      <li><a href="#<%= u(ocaml_name) %>"><%= h(ocaml_name) %></a>&nbsp;<%= nb_errors == 0 ? "<span class=\"label label-success\">✓</span>" : "<span class=\"label label-danger\">#{nb_errors}</span>" %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>
<% for ocaml_name, nb_errors, ocaml_content, coq_name, coq_content in tezos_conversions do %>
<hr />
<div class="row" id="<%= u(ocaml_name) %>" style="padding-bottom: 20px; padding-top: 20px;">
  <div class="col-md-6">
    <a href="#<%= u(ocaml_name) %>"><code><%= h(ocaml_name) %></code></a>&nbsp;<span class="label label-<%= nb_errors == 0 ? "success" : "danger" %>"><%= nb_errors == 0 ? "success" : "#{nb_errors} error#{nb_errors != 1 ? "s" : ""}" %></span>
    <pre><%= ocaml_content %></pre>
  </div>
  <div class="col-md-6">
    <a href="#<%= u(ocaml_name) %>"><code><%= h(coq_name) %></code></a>
    <pre><%= h(coq_content) %></pre>
  </div>
</div>
<% end %>
<%= footer("../") %>
